section.bantin {
    padding-top: 70px;
    padding-bottom: 60px;
}

.title_bantin {
    width: 100%;
    background-image: url('picture/section-header-bg.png');
    text-align: center;
    overflow: hidden;
}

.title_bantin>p {
    color: aliceblue;
    font-family: Arial, sans-serif;
    font-size: 50px;
    align-items: center;
    margin-top: 12px;
}

.div_bantin {
    max-width: 1400px;
    min-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.div_bantin>article {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100%;
}

.div_bantin>aside {
    width: 35%;
    border-left: 1px solid gray;

}

.div_bantin>article>.head {
    display: flex;
    align-items: center;
    width: 100%;
}

.div_bantin>article>.head>.lich {
    width: 60px;
    height: 60px;
    background-color: rgb(203, 199, 199);

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_bantin>article>.head>.lich>span:first-child {
    font-family: Arial, sans-serif;
    display: inline-block;
    margin-top: 3px;
}

.div_bantin>article>.head>.lich>span:last-child {
    font-weight: bold;
    font-size: 35px;
    display: inline;
    line-height: 25px;
}
.div_bantin>article>.head>p {
    margin-left: 35px;
    margin-top: 15px;
}
.div_bantin>article>.head>p>span{
    color: orangered;
}
.div_bantin>article>.noidung{
    
    
    width: 90%;
    padding-top: 50px;
}
.div_bantin>article>.noidung>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.div_bantin>article>.img{
    width: 100%;
    margin-top: 40px;
    
    overflow: hidden;
    display: flex;
}
.div_bantin>article>.img>img{
    width: 25%;
    height: fit-content;
    padding: 5px;
}




.div_bantin>aside>.danhmuc {
    width: 70%;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.div_bantin>aside>.danhmuc>span {
    color: white;
    font-size: 35px;
    text-align: center;
    background-color: orange;
    margin-bottom: 20px;
}

.div_bantin>aside>.danhmuc>a {
    text-decoration: none;
    padding: 5px;

    color: rgb(253, 110, 8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.div_bantin>aside>.danhmuc>a>span {
    color: black;
}

.div_bantin>aside>.danhmuc>a:hover {
    padding-left: 20px;
}

.div_bantin>aside>.cactinmoi {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.div_bantin>aside>.cactinmoi>span {
    color: white;
    font-size: 35px;
    text-align: center;
    background-color: orange;
    margin-bottom: 20px;
}

.div_bantin>aside>.cactinmoi>.div_tin {
    overflow: hidden;
}

.div_bantin>aside>.cactinmoi>.div_tin>.textimg {
    display: flex;
}

.div_bantin>aside>.cactinmoi>.div_tin>.textimg>.img:hover {
    opacity: .8;
}

.div_bantin>aside>.cactinmoi>.div_tin>.textimg>.text {
    padding-left: 15px;

}

.div_bantin>aside>.cactinmoi>.div_tin>.textimg>.text>a {
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: black;
}

.div_bantin>aside>.cactinmoi>.div_tin>.textimg>.text>a:hover {
    color: orange;
}

.div_bantin>aside>.cactinmoi>.div_tin>.textimg>.text>span {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(185, 184, 184);
}

.div_bantin>aside>.cactinmoi>.div_tin>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.div_bantin>article>.mucluc {
    text-align: center;
    margin-top: 50px;
}

.div_bantin>article>.mucluc>a {
    text-decoration: none;
    color: orangered;
    font-size: 25px;
    font-weight: bold;
    padding: 0 10px;
}

.div_bantin>article>.mucluc>span {
    font-size: 30px;
    color: orangered;
}

.div_bantin>article>.mucluc>a:first-child {
    opacity: .6;
}

.div_bantin>article>.mucluc>a:hover {
    opacity: .6;
}

.div_bantin>article>.mucluc>span:nth-child(4) {
    opacity: .7;
}